:root {
  --font-color-put: #fca130;
  --font-color-get: #61affe;
  --font-color-post: #49cc90;
  --background-color-get: #eff7ff;
  --background-color-post: #ecfaf4;
  --background-color-put: #fff5ea;
  --background-color-delete: #feebeb;
  --background-color-get-light: #fcfdff;
  --background-color-post-light: #fbfefd;
  --background-color-put-light: #fffdfb;
  --background-color-delete-light: #fffbfb;
  --font-color-delete: #f93e3e;
  --font-color-error: #f93e3e;
  --font-color-ok: #49cc90;
  --font-color-log-content: #003781;
  --border-color-light-grey: #eceeef;
  --body-bg-color: #ffffff;
}