.trace, .trace:focus {
  color: $log-trace;
}

.info, .info:focus {
  color: $log-info;
}

.debug, .debug:focus  {
  color: $log-debug;
}

.error, .error:focus  {
  color: $log-error;
}

.warn, .warn:focus  {
  color: $log-warn;
}

.off, .off:focus  {
  color: $log-off;
}

.log-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.log-table-container {
  width: 49%;
}

.log-table {
  width: 100%;
  border : 1px solid #e1e1e1;
}

.log-table-row {
  display: flex;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #f7f7f7;

  .first-column {
    width: 10%;
  }
  .second-column {
    width: 25%;
  }
  .third-column {
    width: 75%;
  }
}

.log-table-cell {
  border-right: 1px solid #f7f7f7;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.log-label .control-label {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-log-form {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.add-log-form {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.log-label-search {
  width: 40%;
}
.log-label-name {
  width: 50%;
}
.log-label-level {
  width: 20%;
}
.log-label-add {
  width: 10%;
}
